[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/stacktrace"]
	path = external/stacktrace
	url = https://github.com/cripplet/stacktrace.git
[submodule "external/cachepp"]
	path = external/cachepp
	url = https://github.com/cripplet/cachepp
